@CHARSET "UTF-8";
/*基本*/
*{padding:0; margin:0;}
body{background:#fff/*C7EDCC*/;padding:5px;
font-family:'微软雅黑','lucida grande',tahoma,helvetica,arial,'bitstream vera sans',sans-serif;
text-align:center;font-size:13px;width:1000px;margin:auto;/*居中*/;clear:both}
/*标题*/
h1{font-size:24px;font-weight:normal;clear:both;}
h1.caption_one{text-align:left;clear:both;margin:10px 0px;color:#666666}
.logo .desc{padding-top:10px}
.logo a{display:black;height:20px;float:left;margin-bottom:10px;color:#666666;background:url(logo.jpg) no-repeat top left;padding-left:83px;padding-top:8px;}
.header{border-bottom: 1px solid rgb(204, 204, 204); padding-bottom: 30px;}
h2{font-size:20px;font-weight:normal;clear:both;}
h3{}
h4{background-color:#F2F6FF;padding:3px;border-top:1px solid #B3C7F2}
h5,.caption{background-color:#F2F6FF;font-size:13px;font-weight:normal;padding:1px;}
h6{}
#main_page{
	clear:both;
	overflow:auto;
	text-align:left;
}