@CHARSET "UTF-8";
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/bootstrap3/fonts/glyphicons-halflings-regular.eot');
  src: url('/bootstrap3/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
  url('/bootstrap3/fonts/glyphicons-halflings-regular.woff2') format('woff2'), 
  url('/bootstrap3/fonts/glyphicons-halflings-regular.woff') format('woff'), 
  url('/bootstrap3/fonts/glyphicons-halflings-regular.ttf') format('truetype'), 
  url('/bootstrap3/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}